@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 px-0 sidebar">
            <NavMenu />
        </div>

        <main class="col-md-10">
            <article class="content px-4 h-100" style="position: relative;">
                @Body
            </article>
        </main>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
